<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Will be right back soon</h1>

    <p>Website is updating hold on. </p>

    {{> footer}}
  </body>
</html>
